* {
  box-sizing: border-box;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(49, 139, 242);
}
header {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid rgb(49, 110, 242);
}

.intro {
  display: flex;
  flex-direction: column;
  /* display: block; */
  align-items: center;
}

body h2 {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.resource-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resource-list li {
  margin-bottom: 20px;
}

.resource-list {
  padding: 20px;
  border: 1px solid rgb(49, 110, 242);
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.resource-list iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.resource-list caption {
  display: block;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

.motorcycle-types h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: center;
  width: 100%;
  border: 1px solid #204785;
}

table thead th {
  background-color: rgb(171, 195, 220);
  border: 1px solid black;
}

table tbody tr td {
  background-color: rgb(31, 102, 177);
  border: 1px solid black;
}

table img {
  height: 10rem;
  width: auto;
}
